@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
}

#root > div {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#root > div > div {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.container {
  max-height: 500px; /* Adjust based on your preference */
  overflow-y: auto; /* Enables vertical scrolling */
}